* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #fcfcfc;
}


.dropdownn .dropdownn-content .dropdownn-item {
    padding: 10px;
    cursor:pointer
}

.dropdownn .dropdownn-content .dropdownn-item:hover {
    background: #f4f4f4;
}

.sidebar1 {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 60px;
    white-space: nowrap;
  }
  
  .sidebar1 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  main .sidebar1 {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .material-icons,
  .icon-text {
    vertical-align: middle;
  }
  
  .material-icons {
    padding-bottom: 3px;
    margin-right: 30px;
  }
  
  #main {
    padding: 16px;
    margin-left: 85px;
    transition: margin-left 0.5s;
  }
  @media screen and (max-height: 450px) {
    .sidebar1 {
      padding-top: 15px;
    }
    .sidebar1 a {
      font-size: 18px;
    }
  }
  